body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.content-wrapper {
    height: 100%;
    background-image:
    radial-gradient(
    circle at 350px 40px,
    #56575e,
    black
);
}

/* NavBar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding: 0 1em;
    height: 5em; 
    background-color: black;
}

.logo {
    max-height: 5em;
}

.logo img {
    filter: invert(100%);
    max-height: 6em;
    object-fit: cover;
    object-position: 100% -1em;
    overflow: hidden;
}

.expolore-tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.explore-tabs h5 {
    color: #ffe37a;
    align-self: flex-start;
    margin-top: 1.3em;
    margin-bottom: 0;
}

.explore-buttons button {
    height: 50%;
    border: none;
    background: black;
    color: white;
    font-size: 1.2em;
}

.explore-buttons button:nth-of-type(1) { /* first button (Pens) */
    padding-left: 0;
}

.explore-buttons button:nth-of-type(5) { /* fifth button (Spark) */
    padding-left: 1em;
    color: gray;
}

.explore-buttons button:nth-of-type(5) i { /* fifth button's icon (chevron) */
    color: gray;
    font-size: 75%;
}

.right-nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-nav-buttons button {
    height: 66%;
    padding: 0 1.05em;
    background: #303333;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
}

.create-button i { 
    color: #4fc969;
}

.right-nav-buttons .search-icon { 
    padding: 0 0.4em;
    background-color: black;
    color: gray;
    font-size: 1.8em;
}


/* Main Page */

.main-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 100%;
}

.main-page-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 4em 0 4em;
    color: #c2c2c2;
}

.paragraph1 p {
    margin-top: 0;
    font-size: 2.1em;
}

.paragraph1 p em {
    color: white;
    font-style: normal;
}

.paragraph2 p {
    margin-top: 0;
    font-size: 1.85em;
}

.main-page-signup-btn {
    margin-right: 0.4em;
    background-color: #4fc969;
    color: black;
}

button {
    padding: 0 0.8em;
    height: 3.3rem;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.main-page-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
    overflow: hidden;
}

.img-header {
    margin-bottom: 0.5em;
}

.img-header em {
    font-style: normal;
    color: #6bd0ff;
}

.main-page-img img {
    max-height: 500px;
}


/* lower info tabs */

.info-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4.3em;
    background-color: #373b45;
}

.tab-text {
    text-align: center;
    flex-grow: 1;
    height: 2.5em;
    border: 1px solid gray;
    padding-top: 1.25em;
    color: white;
}

.tab-text em {
    font-style: normal;
    font-size: 1.2em;
    font-weight: 700;
}